* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding: 21px 0 7px;
  background-color: rgba(255, 255, 255, 0.72);
  top: 0;
  backdrop-filter: blur(20px);
  position: sticky;
  transition: all 0.3s ease;
  z-index: 200;
}
.logo {
  margin: 11px 28px;
}
.header-ul {
  display: flex;
  list-style-type: none;
}
.header-ul li {
  font-size: 14px;
  margin: 0px 15px;
}
.header-ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #3d1473;
}
.header-ul > li:last-child a {
  color: #28457b;
  background-color: rgba(105, 105, 255, 0.6);
  border-radius: 20px;
  padding: 10px 27px;
  margin-right: 20px;
  font-family: "YekanBakhBold";
}
.header-ul > li:last-child a:hover {
  background-color: #f0ffbd;
}
.more-menu {
  display: flex;
}
.more-menu img {
  width: 9px;
  margin-right: 8px;
}

.hamburger-menue-icon {
  width: 27px;
  display: none;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  font-family: "YekanBakhMedium";
  transform: translateY(-100%);
}

.cross-icon {
  width: 100%;
  text-align: left;
  padding: 25px 0px;
}
.cross-icon img {
  width: 20px;
  margin-left: 30px;
}

.hamburger-menue-items {
  padding: 10px 30px;
}
.hamburger-menue-items ul {
  list-style-type: none;
}
.hamburger-menue-items a {
  text-decoration: none;
  color: black;
  display: inline-block;

  padding: 5px 0;
}
.hamburger-menue-items ul div {
  height: 1px;
  background-color: #dfe1e4;
  width: 90%;
  margin: 8px 0;
}
.more-item {
  display: flex;
  background-color: #eee;
  padding: 20px 50px;
  align-items: center;
}
.more-item img {
  width: 15px;
  margin-right: 5px;
}
.more-item a {
  text-decoration: none;
  color: #28457b;
  font-size: 0.85rem;
}
.show-hamburger-menu {
  animation: fadeInDown 0.35s forwards;
}

#show-more-menu {
  position: relative;
}
#show-more-menu ul {
  position: absolute;
  top: 0;
  left: -35px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 23px;
  list-style: none;
  width: 123px;
  display: none;
}
#show-more-menu ul li {
  margin: 0;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: #000;
}
#show-more-menu ul li:hover {
  background-color: rgba(232, 239, 254, 0.6);
}
#show-product-menu {
  position: relative;
}
.product-menu {
  position: absolute;
  top: 0;
  left: -135px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  width: 372px;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding: 20px 0 20px;
  margin-top: 23px;
  display: none;
}
.product-menu a p:first-child {
  color: #000;
  font-size: 0.95rem;
}
.product-menu a p:last-child {
  color: #000;
  font-size: 0.7rem;
}
.product-menu a {
  margin: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}
.banner {
  width: 1050px;
  padding: 124px 60px 80px;
  background-image: linear-gradient(125deg, #21254e, #2b4a83);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.banner-text h3 {
  font-family: "YekanBakhHeavy";
  font-size: 2rem;
  color: #fff;
}
.banner-text p {
  color: #fff;
  font-size: 1rem;
  margin: 25px 0;
  line-height: 2.5rem;
}
.banner-image img {
  width: 500px;
}
.banner-button {
  margin-top: 60px;
}
.register {
  font-size: 1rem;
  font-family: "YekanBakhBold";
  color: #000;
  background-color: #ffd900;
  text-decoration: none;
  padding: 6px 14px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.login {
  font-size: 1rem;
  font-family: "YekanBakhBold";
  text-decoration: none;
  border-radius: 10px;
  border: none;
  padding: 6px 14px;
  color: #fff;
  background-color: #435a8a;
}
.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}
.go-down div {
  background-image: url("../images/arrowbottom.svg");
  width: 164px;
  height: 78px;
}
.go-down img {
  width: 15px;
  position: relative;
  top: -60px;
}

/*section styles*/

.online-payment {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.online-payment .section-image {
  width: 450px;
  height: 480px;
}
.section-text {
  margin: 30px 0;
  width: 530px;
}
.section-text h2 {
  color: #747480;
  font-family: "YekanBakhMedium";
  font-weight: 500;
  font-size: 1.4rem;
  margin: 20px 0 5px;
}
.section-text h3 {
  color: #303030;
  font-family: "YekanBakhHeavy";
  font-weight: 600;
  font-size: 2rem;
  margin: 5px 0 10px;
}
.section-text p {
  color: #303030;
  font-family: "YekanBakhMedium";

  line-height: 40px;
  border-bottom: 1px solid #dfe1e4;
  padding-bottom: 20px;
  margin-top: 16px;
}
.section-links {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.section-first-button {
  font-size: 0.9rem;
  font-family: "iranyekanwebmedium";
  color: #000;
  background-color: #ffd900;
  padding: 6px 14px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.section-second-button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-family: "iranyekanwebmedium";
  text-decoration: none;
  border: none;
  background-color: rgba(232, 239, 254, 0.7);
  color: #28457b;
  padding: 6px 14px;
  border-radius: 10px;
}
.section-links .section-second-button img {
  width: 18px;
  height: 15px;
}

/*استایل دادن به article*/
.atribute {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.defnition {
  width: 35%;
  margin-top: 50px;
}
.defnition h3 {
  font-family: "YekanBakhHeavy";
  font-size: 2rem;
}
.defnition p {
  width: 85%;
  margin-top: 40px;
  line-height: 40px;
  font-size: 1rem;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding: 30px;
}
.items img {
  width: 60px;
  height: 60px;
}
.items .item {
  padding: 18px 25px 20px 0;
}
.items .item div {
  display: flex;
  align-items: center;
}
.items h4 {
  font-size: 1.5rem;
  font-family: "YekanBakhHeavy";
  margin-right: 20px;
}
.items p {
  margin: 20px 0px 20px 10px;
  font-size: 1rem;
  font-family: "YekanBakhMedium";
  color: #303030;
  line-height: 36px;
}
.first-item {
  border-left: 1px solid #e0e4e7;
  border-bottom: 1px solid #e0e4e7;
}
.second-item {
  border-bottom: 1px solid #e0e4e7;
}
.third-item {
  border-left: 1px solid #e0e4e7;
}
.start-box {
  width: calc(100% - 76px);
  height: 220px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid silver;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-box h4 {
  font-family: "YekanBakhHeavy";
  font-size: 1.7rem;
}
.start-box p {
  font-family: "YekanBakhMedium";
  font-size: 1.4rem;
  color: #747480;
  margin-top: 10px;
}
.start-box a {
  margin-top: 20px;
}
.support {
  width: calc(100% - 76px);
  height: 70px;
  padding: 0 30px;
  margin: 50px auto;
  background-color: #fbf6f1;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.support .support-number {
  font-family: "YekanBakhHeavy";
  font-size: 1.5rem;
}
#line {
  margin: 0 15px;
}
#number {
  color: #21457f;
}
.support-request {
  display: flex;
  color: #21457f;
  font-family: "YekanBakhBold";
  font-size: 1.5rem;
}
.support-request p {
  margin-left: 10px;
}
.support-request img {
  width: 20px;
}

/*----------------------footer style-----------------------*/
footer {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 330px);
  padding: 0 30px;
  margin-bottom: 100px;
}


.social {
  width: 330px;
}
.social p {
  font-family: "YekanBakhHeavy";
  font-size: 1.3rem;
}
.social div {
  display: flex;
  margin-top: 20px;
}
.social a {
  text-decoration: none;
  background-color: #eff4fe;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 10px;
}
.footer-links p {
  font-size: 1.3rem;
  font-family: "YekanBakhHeavy";
  margin-bottom: 15px;
  color: #303030;
}
.footer-links ul {
  list-style-type: none;
}
.footer-links ul a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}
.footer-links ul li {
  padding: 8px 0;
}
.bell {
  background-color: #2e82ff;
  width: fit-content;
  padding: 7px 7px 0;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.bell img {
  width: 40px;
}


@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    color: #303030;
  }
}


/*-----------------responsive----------------------------*/
/*-------------------max:1200px--------------------------*/
@media (max-width: 1200px) {
  header {
    width: 940px;
  }
  .banner {
    width: 900px;
    padding: 60px 40px 120px;
  }
  .banner-image img {
    width: 430px;
  }
  .online-payment {
    width: 940px;
  }
  .atribute {
    width: 924px;
    padding: 0 8px;
    flex-direction: column;
  }
  .defnition {
    width: 100%;
  }
  .defnition p {
    width: 100%;
    margin-top: 30px;
  }
  .first-item,
  .second-item,
  .third-item {
    border: none;
  }
  .items {
    width: 90%;
    padding: 30px;
  }
  .items .item {
    padding: 18px 0 20px 50px;
  }
  .support .support-number,
  .support-request {
    font-size: 1.1rem;
  }
  footer {
    width: 940px;
  }
}
/*----------------------------------------------------------------------------*/
/*----------------------------------max : 990px----------------------------------------*/
@media (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }
  .header-ul li:last-child {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .header-ul li {
    margin: 0 10px;
  }
  .banner {
    width: auto;
    padding: 40px 40px 85px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .banner-image img {
    display: none;
  }
  .banner-text {
    text-align: center;
  }
  .banner-text p {
    margin: 5px 0;
    font-size: 1rem;
  }
  .banner-button {
    margin-top: 40px;
  }
  .online-payment {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .section-text {
    width: 95%;
  }
  .atribute {
    width: auto;
    padding: 0 35px;
  }
  footer {
    flex-direction: column;
    width: calc(100% - 60px);
  }
  .footer-links {
    width: 100%;
  }
  footer .social {
    padding: 0 10px;
  }
}

/*---------------------------------midia for 768px-------------------------------*/
@media (max-width: 768px) {
  .header-ul {
    display: none;
  }
  .hamburger-menue-icon {
    display: block;
  }
  header {
    width: auto;
    padding: 10px 8px;
  }
  .banner {
    margin-left: 8px;
    margin-right: 8px;
  }
  .section-text {
    align-items: center;
    text-align: center;
  }
  .section-image {
    width: 460px;
    height: 480px;
  }
  .section-links {
    display: flex;
    justify-content: center;
  }
  .defnition {
    text-align: center;
    margin-top: 90px;
  }
  .defnition h3 {
    font-size: 1.6rem;
  }
  .items {
    width: 100%;
    padding: 50px 0;
  }
  .items .item {
    padding: 18px 0 20px 20px;
  }
  .start-box {
    width: calc(100% - 16px);
  }
  .support {
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
  }
  .support-request {
    background-color: #fbf6f1;
    padding: 10px 10px;
    margin: 15px 0;
    border-radius: 50px;
  }
  footer {
    width: calc(100% - 120px);
    margin: 0 60px;
  }
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-links div {
    margin-top: 25px;
  }
}
@media (max-width: 575px) {
  .banner {
    padding: 80px 40px;
  }
  .banner-text h3 {
    font-size: 1.2rem;
    text-align: right;
  }
  .banner-text p {
    text-align: justify;
  }
  .section-image {
    display: none;
  }
  .section-text {
    width: 80%;
    padding: 0 10px;
  }
  .section-text h3 {
    font-size: 1.5rem;
  }
  .items {
    padding: 50px 0;
    grid-template-columns: 1fr;
  }
  .item {
    padding: 18px 0;
  }
  .start-box {
    height: 170px;
  }
  .start-box h4 {
    font-size: 1.2rem;
    text-align: center;
  }
  .start-box p {
    font-size: 1rem;
  }
  .support {
    width: 95%;
  }
  footer {
    width: calc(100% - 60px);
    margin: 0 30px;
  }

  .footer-links a {
    font-size: 0.8rem !important;
  }
  .footer-links p {
    font-size: 0.9rem;
  }
}


  